<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <!--/*/ <th:block th:include="defaultHeader.html :: headerfiles"></th:block> /*/-->
</head>
<body>

<header th:insert="defaultHeader.html :: header"> </header>

<div class="container my-2">
    <h2>Detalhes do cliente</h2>
    <h3>Endereço:</h3>
    <form th:object="${address}">
        <input type="hidden" id="id" th:field="*{id}">
        <label for="cep">CEP:</label>
        <input type="text" id="cep" th:field="*{zipCode}" class="form-control mb-4 col-4" disabled>
        <label for="uf">UF:</label>
        <input type="text" id="uf" th:field="*{fu}" class="form-control mb-4 col-4" disabled>
        <label for="logradouro">Logradouro:</label>
        <input type="text" id="logradouro" th:field="*{logradouro}" class="form-control mb-4 col-4" disabled>
        <label for="bairro">Bairro:</label>
        <input type="text" id="bairro" th:field="*{district}" class="form-control mb-4 col-4" disabled>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" th:field="*{city}" class="form-control mb-4 col-4" disabled>
        <label for="complemento">Complemento:</label>
        <input type="text" id="complemento" th:field="*{complement}" class="form-control mb-4 col-4" disabled>
    </form>
</div>
</body>
</html>